*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.div-hotel{
    display: flex;
    padding: 20px;
    border: 1px solid #c9c9c9;
    margin: 20px;
}
.img{
width: 220px;
padding-right: 20px;
}
.div-container .gray-star{
    color: gray;
}
.fa-star{
    color: yellow;
}
.div_img{
    position: relative;
}
.fa-heart{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
}
.div_img .likeCheck{
    color: red;
    font-weight: 900;
}
.div-content{
    padding: 20px;
    border: 1px solid #c9c9c9;
    margin: 20px;
    border-radius: 25px;
}
.review-containt{
    padding: 10px 0px;
}
#form{
    margin: 0 auto;
display: flex;
flex-direction: column;
width: 40%;
justify-content: space-between;
}
#form input{
    padding: 10px;
    margin: 2%;
}
#button{
    padding: 20px;
    text-align: center;
}
#button button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    cursor: pointer;
}
#submit{
    border-radius: 10px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    cursor: pointer;
}
#title, #review-opinion, #rating{
    border-radius: 10px;
    border: 1px solid  #c9c9c9;
    outline: none;
}
a{
    color: blue;
}
.div_img .red{
    color: red;
    font-weight: 900;
}
#button-div{
    margin: 2%;
}
#button, #button-back{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #d23f57;
    color: white;
}
#button-hotel{
    text-align: center;
    padding: 15px 200px 15px 200px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #d23f57;
    color: white;
}
.displays{
    display: none;
}
.button{
    text-align: center;
    padding: 15px 200px 15px 200px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #d23f57;
    color: white;
}
.back{
    padding: 20px;
    border-radius: 10px;
}
.displaysBlock{
    display: block;
}
